
<h1>Uplod File using ASP.NET Core MVC </h1>

<div class="text-center">
    <form asp-controller="FileUpload" asp-action="Index" 
      method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
</div>