@model IEnumerable<MVC_AppFrwk.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.4.1.slim.js"></script>
<script>
    $(document).ready(function () {
        $("#btnredirect").on("click", function () {
            $.ajax({
                url: '@Url.Action("About", "Home")',
                type: 'GET',
                datatype:'html'
            }).done(function (resp) {
                alert('Success' + JSON.stringify(resp));
                $("#dv").html('');
                $('#dv').html(resp);
            })
                .fail(function (err) {
                    alert('fail');  
                });
        });   
    });
</script>

<div id="dv">
    @foreach (var emp in Model)
    {
        <div>@emp.EmpNo</div>
        <hr />
        <div>@emp.EmpName</div>

    }

    <hr />
    <input type="button" id="btnredirect" value="Redirect" />
</div>